.footer {
  background-color: #252323;
  color: white;
  font-size: 12px;
  padding: 3px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0; 
}

.footer .company-name {
  font-family: 'Major Mono Display', monospace; 
}
