/* Navigation styling */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; /* Add padding for better spacing */
  background-color: #398163;
}

/* Styling for the produce heading and admin panel */
.nav-left {
  display: flex;
  align-items: center;
}

.h1-produce {
  margin: 0; /* Remove default margin to prevent unwanted spacing */
  font-family: 'Major Mono Display', monospace;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
}

.admin-panel {
  margin: 0; /* Remove default margin to prevent unwanted spacing */
  color: #ffffff;
  font-size: 13px; /* Adjust the font size as needed */
  margin-left: 10px; /* Add some spacing between the heading and admin panel */
}

/* Add these styles to your existing CSS file */
/* Dashboard, Orders, Inventory button styling */
.nav-button {
  margin-right: 10px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px; /* Add rounded corners to the button */
  transition: background-color 0.3s ease; /* Add a smooth transition */
  font-weight: bold;

}

/* Optionally, you can add styles for hover effects */
.nav-button:hover {
  font-weight: bolder;
  text-decoration: underline; /* Underline the text on hover */
  text-underline-offset: 5px; /* Add space below the underline */
}

/* Logout button styling */
.logout {
  background-color: #08462c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px; /* Add rounded corners to the button */
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

.logout:hover {
  background-color: #589667; /* Change the color on hover */
}
